body {
    font-size: 1vw;
}

body * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div>* {
    border: 1px solid #F00;
    padding: 1rem;
}

div {
    display: flex;
    flex-wrap: wrap;
}

header {
    height: 150px;
    flex-basis: 100%;
    order: 1;
    display: flex;
    justify-content: center;
    background-color: hsl(20, 60%, 80%);
    align-items: center;
}

section {
    flex-basis: 30%;
    order: 4;
    display: flex;
    background-color: hsl(50, 60%, 80%);
    flex-direction: column;
    justify-content: space-between;
}

main {
    background-color: hsl(120, 60%, 80%);
    flex-basis: 40%;
    order: 3;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

main>* {
    padding: 0.5em;
    flex-basis: 50%;
    border: 1px solid #f0f;
}

aside {
    flex-basis: 25%;
    order: 2;
    background-color: hsl(200, 60%, 80%);
    display: flex;
    align-items: center;
}

footer {
    background-color: hsl(300, 60%, 80%);
    flex-basis: 100%;
    order: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(300, 60%, 80%);
}

aside article:nth-of-type(3) {
    align-self: flex-end;
}

aside article:nth-of-type(1) {
    align-self: flex-start;
}